body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url('https://i.ibb.co/bQVtcLr/1-15.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
    position: fixed;
    width: 100%;
    z-index: 900;
    top: 0;
}

.back{
    position: fixed;
    top: 90px;
    left: 30px;
    width: 25px;
}

.user{
    height: 30px;
    width: 30px;
}

.sout {
    position: fixed;
    top: 30px;
    right: 2px;
    width: 80px;
    height: 10px;
    /* background-color: rgb(255, 215, 215); */
    z-index: 1000;
}

.ull {
    display: flex;
    list-style: none;
    align-items: center;

}

.lii {
    border-bottom: 3px solid transparent;
    transition: all 0.5s ease-in;
}

.lii a {
    text-decoration: none;
    /* margin: 10px; */
    color: rgb(90, 90, 90);
}

.lii:hover {
    border-bottom: 3px solid white;
}

.ulu {
    position: absolute;
    top: 20px;
    /* background-color: rgb(52, 167, 182); */
    display: flex;
    width: 90px;
    height: 70px;
    display: none;
    right: 1px;
}

.lil {
    position: relative;
}

.lil:hover>.ulu {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 200px;
    
}

.lil:hover>.ulu .lii:hover {
    border-bottom: 10px solid transparent;
    background-color: #9FCD25;
    color: white;
}

.siout{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 50px;
    position: absolute;
    right: 1px;
    top: 20px;
}

.container01{
margin-left: 80px;
margin-top: 75px;
position: absolute;
}

.containerBroccoli{
margin-left: 50px;
margin-top: 290px;
position: absolute;
}
.containerApple{
margin-left: 50px;
margin-top: 250px;
position: fixed;
display: flex;
}
.containerGrape{
margin-left: 65px;
margin-top: 240px;
position: absolute;
}
.containerPumpkin{
margin-left: 60px;
margin-top: 285px;
position: absolute;
}

.content{
position: absolute;
left:300px ;
top: 130px;
}
.text{
    width: 200px;
    position: absolute;
    font-weight:bold;
    font-size: xx-large;
    left: 170px;
    top: 10px;
}

.text1{
    width: 400px;
    position: absolute;
    left: 170px;
    top: 60px;
}
.other{
    position: absolute;
    top: 10px;
    right: 120px;
}
.text0{
    color: #9FCD25;
    font-weight:bold;

}
.topicon1img{
    position:absolute ;
    left: 0;
    top: 30px;

}
.topicon2img{
    position:absolute ;
    left: 80px;
top: 30px;

}
.topicon3img{
    position:absolute ;
left: 160px;
top: 30px;
}

.text2{
    position: absolute;
     left: 137px;
    top: 120PX;
    width: 650PX;

}
.imgheader00{
      position: relative;
     left:130px;
    top: 20PX;
}

.imgheader{
      position: absolute;
     left: 0;
    top: -25.5PX;
}
.box{
    position: absolute;
     left: 130px;
    top: 250PX;
    width: 650PX;
}
.text3{    
position: absolute;
    top: -30PX;
    left: 20px;
    font-size: x-large;
      font-weight:bold;
}

.box1{
position: absolute;
}

/* 第1層 */
.bottomicon1img{
    position: absolute;
    top: 250px;
    left: 150px;
}
.bottomicon2img{
    position: absolute;
    top: 250px;
    left: 320px;
}
.bottomicon3img{
    position: absolute;
    top: 250px;
    left: 490px;
}
.bottomicon4img{
    position: absolute;
    top: 250px;
    left: 660px;

}
/* 第2層 */
.bottomicon5img{
    position: absolute;
    top: 420px;
    left: 150px;
}
.bottomicon6img{
    position: absolute;
    top: 420px;
    left: 320px;
}
.bottomicon7img{
    position: absolute;
    top: 420px;
    left: 490px;
}
.bottomicon8img{
    position: absolute;
    top: 420px;
    left: 660px;

}
/* 第3層 */
.bottomicon9img{
    position: absolute;
    top: 590px;
    left: 150px;
}
.bottomicon10img{
    position: absolute;
    top: 590px;
    left: 320px;
}
.bottomicon11img{
    position: absolute;
    top: 590px;
    left: 490px;
}
.bottomicon12img{
    position: absolute;
    top: 590px;
    left: 660px;
}

